#bread-button {
    background: #333;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #fa0a0a;
    font-size: 20px;
    padding: 15px;
    border: solid #145b7b 2px;
    text-decoration: none !important;
    line-height: normal;
}


#bread-button:hover {
    background: #067899;
    background-image: -webkit-linear-gradient(top, #067899, #145b7b);
    background-image: -moz-linear-gradient(top, #067899, #145b7b);
    background-image: -ms-linear-gradient(top, #067899, #145b7b);
    background-image: -o-linear-gradient(top, #067899, #145b7b);
    background-image: linear-gradient(to bottom, #067899, #145b7b);
    color: #fa0a0a;
    text-decoration: none;
}

.bread-text{
    color: red;
}

#test{
    color: red
}
